In [1]:
%pylab inline
import scipy.stats
from collections import defaultdict
import numpy as np
import tools as t
import pandas as pd
from datetime import datetime, date, time
import os

Populating the interactive namespace from numpy and matplotlib

In [2]:
def nested_dict_factory(): 
    return defaultdict(int)
def nested_dict_factory2():
    return defaultdict(nested_dict_factory)

In [3]:
cluster=pd.read_table("training_data/cluster_map/cluster_map",header=None)
cluster=np.asarray(cluster)

In [4]:
file1=open('training_data/poi_data/poi_data','r')
a=(file1.read())
lines=a.splitlines()
poi=[[],[]]
for templine in lines:
    t1=templine.split('\t')
    dictpoi = defaultdict(nested_dict_factory2)
    for x in range(1,len(t1)):
        cls_sub_count=t1[x].split('#')
        if len(cls_sub_count)>1:
            cls=cls_sub_count[0]
            sub_counts=cls_sub_count[1]
        else:
            sub_counts=cls_sub_count[0]
        
        sub,count=sub_counts.split(':')
        #print cls,sub,count
        dictpoi[cls][sub]=count
    maxcls=0
    totalsum=0
    for xd1 in dictpoi.iterkeys():
        intxd1=int(xd1)
        if maxcls<intxd1:
            maxcls=intxd1
    maxcls+=1

    for xd1 in dictpoi.iterkeys():
        for xd2 in dictpoi[xd1].iterkeys():
            totalsum+=(maxcls-int(xd1))*int(xd2)*int(dictpoi[xd1][xd2])
    poi[1].append(totalsum)
    poi[0].append(t1[0])
poi=np.array(poi).T
poi=np.hstack((poi,np.zeros((poi.shape[0],1),dtype=np.int16)))

In [5]:
for x in range(66):
    mask=poi[:,0]==cluster[x][0]
    poi[x,2]=np.squeeze(np.where(mask==True,))+1

In [6]:
matrix=pd.read_csv('dataX.csv',sep=',')
TestData=pd.read_csv('testdata.csv',sep=',')

In [7]:
matrix.describe()

,0,1,2,3,4,5,6,7,8,9
count,199584.00000,199584.000000,199584.000000,199584.000000,199584.000000,199584.000000,199584.000000,199584.000000,199584.000000,1.995840e+05
mean,33.50000,71.500000,4.000000,42.792078,35.193973,3.040489,6.187362,119.630532,7.598104,3.973977e+07
std,19.05042,41.568321,2.000005,103.652317,75.187632,1.555854,3.700350,50.409283,45.229539,6.727068e+07
min,1.00000,0.000000,1.000000,0.000000,0.000000,1.000000,0.500000,26.000000,0.000000,4.233830e+05
25%,17.00000,35.750000,2.000000,1.000000,1.000000,2.000000,3.000000,84.000000,0.000000,7.747552e+06
50%,33.50000,71.500000,4.000000,7.000000,6.000000,2.680851,6.000000,115.000000,1.000000,1.540297e+07
75%,50.00000,107.250000,6.000000,32.000000,28.000000,4.000000,8.000000,153.148387,3.000000,3.866538e+07
max,66.00000,143.000000,7.000000,4362.000000,1084.000000,9.000000,19.000000,276.000000,3872.000000,4.350724e+08

In [8]:
TestData.describe()

,0,1,2,3,4,5,6,7
count,47520.000000,47520.000000,47520.000000,47520.000000,47520.000000,47520.000000,47520.000000,4.752000e+04
mean,33.500000,71.500000,4.400000,11.681881,2.956595,1.780635,65.375667,3.973977e+07
std,19.050572,41.568654,2.154089,64.389835,1.197576,2.447707,17.491216,6.727122e+07
min,1.000000,0.000000,1.000000,0.000000,1.000000,-6.000000,29.000000,4.233830e+05
25%,17.000000,35.750000,3.000000,0.000000,2.545455,0.125000,55.125000,7.747552e+06
50%,33.500000,71.500000,5.000000,0.000000,2.958333,2.000000,59.727273,1.540297e+07
75%,50.000000,107.250000,6.000000,0.000000,3.529412,4.208333,81.894737,3.866538e+07
max,66.000000,143.000000,7.000000,1876.000000,8.000000,6.000000,117.000000,4.350724e+08

In [9]:
def append_isweekend(mat):
    mat=np.hstack((mat,np.zeros((mat.shape[0],1),dtype=np.float32)))
    mask=np.logical_or(mat[:,2]==6,mat[:,2]==7)
    mat[mask,-1]=1
    return mat

In [10]:
#matrix=append_isweekend(np.asarray(matrix))
#TestData=append_isweekend(np.asarray(TestData))
matrix=np.asarray(matrix)
TestData=np.asarray(TestData)

In [11]:
print matrix[0]
print TestData[0]

[  1.00000000e+00   0.00000000e+00   5.00000000e+00   1.87000000e+02
   1.78000000e+02   1.00000000e+00   3.50000000e+00   1.77000000e+02
   9.00000000e+00   1.02144780e+07]
[  1.00000000e+00   0.00000000e+00   6.00000000e+00   0.00000000e+00
   2.54545455e+00  -1.90909091e+00   5.97272727e+01   1.02144780e+07]

In [12]:
#Xdata=matrix[:,[0,1,2,3,5,6,7,9,10]]
Xdata=matrix[:,[0,1,2,3,5,7,9]]
Ydata=matrix[:,8]

In [13]:
#testData=TestData[:,[0,1,2,3,4,5,6,7,8]]
testData=TestData[:,[0,1,2,3,4,6,7]]

In [14]:
print Xdata[0]
print testData[0]

[  1.00000000e+00   0.00000000e+00   5.00000000e+00   1.87000000e+02
   1.00000000e+00   1.77000000e+02   1.02144780e+07]
[  1.00000000e+00   0.00000000e+00   6.00000000e+00   0.00000000e+00
   2.54545455e+00   5.97272727e+01   1.02144780e+07]

In [15]:
from sklearn.cross_validation import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(Xdata, Ydata,test_size=0.30)

In [16]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
#Xtrain, Xtest, ytrain, ytest = train_test_split(Xdata, Ydata,test_size=0.30)
model=RandomForestRegressor(random_state=0,n_estimators=50,max_depth=17)
model.fit(Xtrain, ytrain)
y_test=model.predict(Xtrain)
print 'training error=',np.mean(np.abs(y_test-ytrain)),np.mean(np.abs(np.array(y_test,dtype=np.int32)-ytrain))

y_test = model.predict(Xtest)

print 'Test error=',np.mean(np.abs(y_test-ytest)),np.mean(np.abs(np.array(y_test,dtype=np.int32)-ytest))
#result_array=np.array(y_test,dtype=np.int32)
#print np.mean(np.abs(result_array-ytest))

training error= 0.7928900181 0.835141867323
Test error= 2.13606719781 2.07824503975

In [51]:
model.fit(Xdata, Ydata)
y_test = model.predict(testData)

In [52]:
y_test=np.array(y_test,dtype=np.int32)
pd.DataFrame(y_test).describe()

                  0
count  47520.000000
mean       2.329777
std       26.570740
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max     1244.000000

In [53]:
mask=testData[:,3]<=y_test
y_test[mask]=testData[mask,3]

In [54]:
filesub=testData.copy()
#filesub=filesub.astype(np.int)
filesub=filesub.astype(np.object)
#filesub=filesub.astype(np.str)
pathstemp=os.listdir('test_set/order_data/')
paths=sorted([x for x in pathstemp if x[0:2]!='._'])
print paths

for x in range(cluster.shape[0]):
    mask=cluster[x][1]==filesub[:,0]
    filesub[mask,0]=cluster[x][0]
i=0
for x in paths:
    name=x[11:]
    for x2 in range(i*9504,(i+1)*9504,1):
        filesub[x2,2]=name
    i+=1

print filesub.shape,y_test.shape
filesub1=[[],[]]
for x in range(filesub.shape[0]):
    filesub1[0].append(filesub[x,0]+'_'+filesub[x,2]+'_'+str(int(filesub[x,1])))
    filesub1[1].append(y_test[x])
data=pd.DataFrame({
        'id':filesub1[0],
        'gap':filesub1[1]
    })

['order_data_2016-01-23', 'order_data_2016-01-25', 'order_data_2016-01-27', 'order_data_2016-01-29', 'order_data_2016-01-31']
(47520, 7) (47520,)

In [55]:
data.describe()

                gap
count  47520.000000
mean       2.329777
std       26.569880
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max     1244.000000

In [56]:
data.to_csv('output12.csv',columns=['id','gap'],index=False)